*{
    box-sizing:border-box;
    color:rgb(45, 45, 110);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    --color-bordes: rgb(109, 240, 196);
}


.factura {
    width: 75%;
    height: 80%;
    margin: 5rem auto;
}

div.encabezado>table{
    height: 15rem;
    width:100%;
    padding: 2rem;
}

.logo {
    width: 10vw;
}

.col1-encabezado{
    width:40%;

}
.col2-encabezado{
    width: 60%;
    justify-items: right;
    margin: 0 auto;
    text-align: left;

}
.datos-factura{
 margin: 0 2rem auto auto;
 border-spacing: 0;
}


.datos-factura tr:first-child td{
    border-bottom: 2px solid var(--color-bordes);

}

.datos-cliente{
    margin: 2rem 0 auto auto;
    border-left: 5px solid var(--color-bordes);
    border-right: 5px solid var(--color-bordes);
    width: 50%;

}


.datos-cliente th, .tabla_cantidades th{
 font-weight:bolder;
}

.tabla_cantidades table{
    margin-top:4rem;
    text-align: right;
    line-height: 2rem;
    border-spacing: 0;
    width: 100%;

}



/*alinear a la izq a cada first child de cada trow*/

.tabla_cantidades tr:first-child {
    text-align:right;
}

.tabla_cantidades thead{
    background-color: var(--color-bordes);
}
.tabla_cantidades tbody>tr:last-child td, .tabla_cantidades tbody>tr:last-child th{
    border-bottom: 5px solid var(--color-bordes);
}

.totales td{
    border-top: 2px solid var(--color-bordes);
}
th.col1, td.col1{
    text-align: left;
}

/*expandir la tabla*/