html {
    box-sizing:border-box;
}

h1 {
    font-size: medium;
    color:blue;
    margin:0;
    padding:0;

}
.form-container{
    width:70%;
    margin: 3rem auto;
    padding: 3rem;
    background-color: rgb(255, 237, 214);
    line-height: 2rem;
}

.inputs-superiores h1{
    width: 10%;
    display: inline-block;
}

.input{
  width: 80%;
}

@media (max-width:900px){
    .inputs-superiores h1{
        display:block;
    }
}
.radios{
    display: flex;
    flex-direction:column;
    width: 50%;
}
.inputs-inferiores{
    display:flex;
    flex-direction:row;
    margin-top:3rem;
}

.dropdowns{
    width: 40%;
    display:flex;
    flex-direction:column;

}

.input#poblacion, .input#postal {
    width: 250px;
}
@media (max-width:900px){
    .inputs-superiores h1{
        display:block;
        width:auto;
    }
    .input#poblacion, .input#postal {
        width: 80%;
    }

}

.submit-container {
    width: 100%;
    display:flex;
    justify-items: center;
}

.submit-button {
    font-weight: bold;
    padding: 0.5rem;
    margin: 3rem auto 0;
}


